@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@400;700&display=swap");
@import "./normalize.scss";
@import "./mixins//media-queries.scss";

$font: "Noto Sans Mono", monospace;
$black: #222;

html {
  font-family: $font;
	color: $black;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  max-width: 800px;

  &__photo {
    max-width: 300px;
    margin: 0 auto 32px auto;
    border-radius: 32px 32px 8px 32px;
    overflow: hidden;

    @include tablet {
      max-width: 420px;
    }
  }

  &__icons {
    display: flex;
    max-width: 110px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
  }

	&__icon {
		width: 28px;
	}
}

h1 {
  text-align: center;
  font-size: 42px;
  line-height: 1.25;
  margin-bottom: 32px;
}

p {
  font-size: 18px;
  margin-bottom: 24px;
}

h2 {
  font-size: 20px;
  margin-bottom: 24px;
  text-align: center;
  text-transform: uppercase;
}

p {
  text-align: center;
}

.wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: 1;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
